.sidebar {
    width: 218px;
    height: 100%;
    background-color: #007EF2;
    color: white;
    position: fixed;
    top: 0;
    left: -30px;
    transition: left 0.3s ease;
  }

  .sidebar-title {
    align-items: center; 
    margin-bottom: 3px;
    padding: 20px;
    margin-top:10px;
    display: flex;
    margin-left: 25px;
    }
  
  .sidebar-title span {
    margin-left: 5px;
    font-weight: bold; /* Bold Text */
    font-size: 1.4em; /* Font Size*/
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .toggle-button {
    background-color: #007EF2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 15px;
    border-bottom: 0px solid #555;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #555;
  
  
  }
  