@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.footer-container {
    margin-top:300px;
    border: 100px;
}

footer {
    font-family: 'Lato', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
margin: 0px;
}

/* container for images*/
div.team_pics {
    display: flex;
    margin: 0px;
    padding: 10px;
    align-items: center;
}

div.team_pics img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.team_member {
    text-align: center;
    margin: 0 10px;
}

/*.trademark {
    display: flex;
    text-align: center;
    align-items: center;
}*/