.actionButton {
  background: none; /* Removes any background */
  border: none; /* Removes the border */
  padding: 0; /* Removes padding */
  cursor: pointer;
  
  /* Changes the cursor to a pointer to indicate it's clickable */
}

.updateIcon, .deleteIcon {
 
  object-fit: scale-down; 
}

.actionButton:hover .updateIcon,
.actionButton:hover .deleteIcon {
  transform: scale(-1.1); /* Slightly enlarges the icon */
  transition: transform 0.2s; /* Smooth transition for the transform */
}
.icon-container {
    display: flex; /* Enables flexbox */
    justify-content: space-around; /* Centers the icons with space around them */
    align-items: center; /* Aligns icons vertically in the center */
  }
  